.hljs{
    background: #000000;
    border: solid rgb(90, 90, 90) 0.1rem;
    color:#008f11
}
.hljs-subst{
    color:aqua
}
.hljs-string{
    color:rgb(117, 200, 255)
}
.hljs-number{
    color:rgb(0, 157, 255)
}
code{
    color: rgb(255, 255, 255)
}

table{
    caption-side: bottom;
    border-collapse: collapse;
    border: solid white 0.1rem;
}

thead{
    border: solid white 0.075rem;
}

tr{
    border-color: inherit;
    border-style: solid;
    border-width: 0.075rem;
}

tbody{
    border-color: inherit;
    border-style: solid;
    border-width: 0.0075rem;
    padding: 0.5rem;
}

td, th{
    padding: 0.5rem;
}

.button{
    cursor: pointer;
}

p{
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
}

.radial-gradient-button {
    background: radial-gradient(circle, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 0) 100%);
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 4px;
    cursor: pointer;
    border-radius: 12px;
    animation: pulsate 2s infinite ease-in-out;
  }

@keyframes pulsate {
    0% {
      background: radial-gradient(circle, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 0) 100%);
      transform: scale(1);
    }
    50% {
      background: radial-gradient(circle, rgba(0, 128, 0, 0) 0%, rgba(0, 128, 0, 0) 100%);
      transform: scale(1.1);
    }
    100% {
      background: radial-gradient(circle, rgba(0, 128, 0, 1) 0%, rgba(0, 128, 0, 0) 100%);
      transform: scale(1);
    }
}

.tab-content{
    height: 97%;
    overflow-y: scroll;
    /* overflow-x: clip; */
}

.nav-link{
    color: inherit !important;
}